body {
  font-family: arial,sans-serif;
  font-size: 13px;
  color: #444;
}

div#container {
  width: 720px;
  height: 720px;
  margin: auto 100px 50px;
  border: 1px solid #000;
}

div.pixel {
  float: left;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

div.hovered {
  background-color: #000;
}

h1 {
  text-align: center;
}

button {
  text-align: center;
}
